/* VIDEO PLAYER */
#videoContainer {
	height: 240px;
	margin-bottom: 32px; // difference between video size and track height
	position: relative;
}

#videoFrame {
	height: auto;
	min-height: 180px;
	max-height: 240px; // this is the minimum height for some videos (i.e. 240p)
	width: 100%;
}

/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */
/* PROGRESS BAR
/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */
#progressBar{
	cursor:pointer;
	height:2px;	
	overflow:hidden;	
	width: 100%;
}

#progressBar .elapsed {
	background-color: @blue;
	height:2px;
	width:0;
}